@{
    ViewBag.Title = "Home Page";
}


 

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">

    <div class="panel-body">
        <table id="Demogrid"></table>
        <div id="pager"></div>
    </div>
    <div class="row">
        <div class="col-sm-2">
        </div>

    </div>
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>
<script>





    jQuery(document).ready(function () {
        var myGrid = $('#Demogrid');
        myGrid.jqGrid({
            url: "/Home/RetrivePositionfields/",
            datatype: "json",
            mtype: 'GET',
            colNames: ['RPAHRPA No', 'HiringManager Approver', 'ETAU Action HrsWkd'],
            colModel: [
                { name: 'RPAHRPANo', sortable: false, align: "center" },
                { name: 'RPAHiringManagerApprover', sortable: false, align: "center" },
                { name: 'RPAETAUActHrsWkd', sortable: false, align: "center" },
            ],
            viewrecords: true,
            caption: "Funding History:",
            width: 400,
            height: 150,
            loadtext: "Loading...",
            emptyRecords: "No records found", gridComplete: function () {
                var count = $('#Demogrid').jqGrid('getGridParam', 'reccount')
                if (count == 0) {
                    $('#Norecordslabel').css({ "visibility": "visible" });
                    $("#Demogrid").jqGrid('setGridState', 'hidden');
                }
            }
        });
    });




</script>
